{% extends "base.html" %}

{% block content %} 
<form action="{% url 'sensor_remove' sensor_id=obj.sensor_id %}" method="POST"> {% csrf_token %}
    <h1>Comfirm removal of sensor from location:</h1>
    <p>Sensor_id: {{ obj.sensor_id }}</p>
    <p>Hostname: {{ obj.hostname }}</p>
    <p>Location: {{ obj.location }}</p>
    {% if room_name %}
    <p>Room: {{ room_name }}</p>
    {% endif %}
    <p><input type="submit" value="Yes"> <a href="{% url 'sensor_list'%}">Cancel</a></p>
</form>
{% endblock %}