{% extends "base.html" %}

{% block content %}
<h1>This is HTML for sensor list</h1>
<h2>Sensor without set location:</h2>
<ul>
    {% for sensor_id in sensor_id_list_nonset %}
    <li>
        Sensor_id: {{ sensor_id }}
        Hostname: {{ hostname_dict|get_item:sensor_id }}
        Sensor type: {{ sensor_type_dict|get_item:sensor_id }}
        <a href="{% url 'sensor_create' sensor_id=sensor_id hostname=hostname_dict|get_item:sensor_id sensor_type=sensor_type_dict|get_item:sensor_id %}">Add location</a>
        <a href="{% url 'sensor_detail' sensor_id=sensor_id %}">Sensor info</a>
    </li>
    {% endfor %}
</ul>

<h2>Sensors with set location:</h2>
<ul>
    {% for sensor_id in sensor_id_list_set %}
    <li>
        Sensor_id: {{ sensor_id.sensor_id }}
        Hostname: {{ sensor_id.hostname }}
        Sensor type: {{ sensor_id.sensor_type }}
        Location: {{ sensor_id.location }}
        {% if sensor_id.room %}
        Room: <a href="../rooms/{{ sensor_id.room }}">{{ room_dict|get_item:sensor_id.sensor_id }}</a>
        {% endif %}
        <a href="{% url 'sensor_update' sensor_id=sensor_id.sensor_id %}">Edit</a>
        <a href="{% url 'sensor_detail' sensor_id=sensor_id.sensor_id %}">Sensor info</a>
        <a href="{% url 'sensor_remove' sensor_id=sensor_id.sensor_id %}">Remove</a>
    </li>
    {% endfor %}
</ul>
<a href="../">Back to main menu</a>
{% endblock %}