{% extends "base.html" %}

{% block content %}
<h1>{{ device.device_id }} detail</h1>
<h2>Device information</h2>
<ul>
    <li><label>Device type: </label>{{ device.device_type }}</li>
    <li><label>Room: </label><a href="{% url 'room_detail' room_id=device.room.id %}">{{ device.room }}</a></li>
</ul>

<ul>
    {% if thermo_head %}
    <li><label>Heat value: </label> {{ thermo_head.set_heat_value }}</li>
    <li><label>Last requested heat value: </label> {{ thermo_head.last_requested_heat_value }}</li>
    <li><label>Last request datetime: </label> {{ thermo_head.last_request }}</li>
    {% elif sunblind %}
    <li><label>Open value: </label> {{ sunblind.set_open_value }}</li>
    <li><label>Last requested open value: </label> {{ sunblind.last_requested_open_value }}</li>
    <li><label>Last request datetime: </label> {{ sunblind.last_request }}</li>
    {% endif %}
</ul>
<p><a href="{% url 'device_values_edit' device_id=device.device_id room_id=device.room.id %}">Edit device values</a></p>
<p><a href="{% url 'room_detail' room_id=device.room.id %}">Back to room</a></p>
<p><a href="{% url 'device_list' %}">Back to device list</a></p>
{% endblock %}