{% extends "base.html" %}

{% block content %}
<h1>{{ device.device_id }} detail</h1>
<h2>Device information</h2>
<ul>
    <li><label>Device type: </label>{{ device.device_type }}</li>
    <li><label>Room: </label><a href="{% url 'room_detail' room_id=device.room.id %}">{{ device.room }}</a></li>
</ul>

<ul>
    {% if thermo_head %}
    <li><label>Last heat value set: </label> {{ thermo_head.last_set_heat_value }}</li>
    <li><label>Date last set: </label> {{ thermo_head.last_set_value_date }}</li>
    {% elif sunblind %}
    <li><label>Last open value set: </label> {{ sunblind.last_set_open_value }}</li>
    <li><label>Date last set: </label> {{ sunblind.last_set_value_date }}</li>
    {% endif %}
</ul>

<a href="{% url 'device_list' %}">Back to device list</a>
{% endblock %}