<h1>Room list</h1>

{% if rooms_set %}
    <ul>
        {% for room in rooms_set %}
        <li>
            {{ room.room_name }}
            <a href="{% url 'room_detail' room_id=room.id %}">Detail</a>
            <a href="{% url 'room_remove' room_id=room.id %}">Remove</a>
        </li>
        {% endfor %}
    
    </ul>
    <p><a href="{% url 'room_create' %}">Add new room</a></p>
{% else %}
    <p>There are now rooms in a database. <a href="{% url 'room_create' %}">Please add new rooms.</a></p>
{% endif %}