{% extends "base.html" %}

{% block content %} 
<form action="{% url 'sensor_remove' sensor_id=obj.sensor_id %}" method="POST"> {% csrf_token %}
    <h1>Comfirm removal of sensor id: <u>{{ obj.sensor_id }}</u></h1>
    <p>Hostname: {{ obj.hostname }}</p>
    <p>Location: {{ obj.location }}</p>
    {% if obj.room %}
    <p>Room: <a href="{% url 'room_detail' room_id=obj.room.id %}">{{ obj.room }}</a></p>
    {% endif %}
    <p><input type="submit" value="Yes"> <a href="{% url 'sensor_list'%}">Cancel</a></p>
</form>
{% endblock %}