{% extends "base.html" %}

{% block content %} 
<!-- TODO Add something like time before next query is available -->
<h1>
    {% if obj %} 
    Sensor {{ obj.sensor_id }}
    {% else %}
    Sensor {{ sensor_id }}
    {% endif %}
</h1>
<h2>Sensor information</h2>
{% if obj %}
<ul>
    
        <li><label>Hostname: </label>{{ obj.hostname }}</li>
        <li><label>Location: </label>{{ obj.location }}</li>
        <li><label>Sensor type: </label>{{ obj.sensor_type }}</li>
        {% if obj.room %}
        <li><label>Room: </label><a href="{% url 'room_detail' room_id=obj.room.id %}">{{ obj.room }}</a></li> 
        {% endif %}
        {% if obj.description %}
        <li><label>Description: </label>{{ obj.description }}</li>
        {% endif %}
    
</ul>
{% else %}
    <p>This sensor has no location</p>
{% endif %}
<h2>Last collected values by sensor:</h2>
<ul>
    <li><label>Temperature: </label>{{ temperature }} °C</li>
    <li><label>Pressure: </label> {{ pressure }} HPa</li>
    <li><label>Humidity: </label> {{ humidity }} %</li>
</ul>
<p>For historical values visit <a href="http://grafanalab.westus.cloudapp.azure.com:3000">grafana website</a></p>
<p><a href="{% url 'sensor_list' %}">Back to sensor list</a></p>
{% endblock %}

