{% extends "base.html" %}

{% block content %}
<h1>{{ obj.room_name }} detail</h1>
<h2>Last values collected by sensors:</h2>
{% if sensors_set %}
<table>
    <tr>
        <th>Sensor_id</th>
        <th>Sensor_hostname</th>
        <th>Sensor_type</th>
        <th>Temperature</th>
        <th>Pressure</th>
        <th>Humidity</th>
    </tr>
    {% for sensor in sensors_set %}
    <tr>
        <td>{{ sensor.sensor_id }}</td>
        <td>{{ sensor.hostname }}</td>
        <td>{{ sensor.sensor_type }}</td>
        <td>{{ temp_dict|get_item:sensor.sensor_id }} °C</td>
        <td>{{ pressure_dict|get_item:sensor.sensor_id }} HPa</td>
        <td>{{ humidity_dict|get_item:sensor.sensor_id }} %</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'sensor_list' %}">Add sensor</a>
{% else %}
<p>No sensor set for this room. 
    You can browse sensor list and <a href="{% url 'sensor_list' %}">add sensor to this room</a>.
</p>
{% endif %}
<h2>Available devices: </h2>
{% if devices_set %}
<table>
    <tr>
        <th>Device_id</th>
        <th>Device_type</th>
    </tr>
    {% for device in devices_set %}
    <tr>
        <td>{{ device.device_id }}</td>
        <td>{{ device.device_type }}</td>
        <td><a href="{% url 'device_values_edit' device_id=device.device_id room_id=obj.id %}">Edit device values</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'device_list' %}">Add device</a>
{% else %}
<p>No device set for this room. 
    You can browse device list and <a href="{% url 'device_list' %}">add device to this room</a>.
</p>
{% endif %}

<p><a href="{% url 'room_list' %}">Back to room list</a></p>
{% endblock %}